
* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

button, input, select, textarea, form {
  font-size: inherit;
  border: none;
  background: none;
  color: inherit;
  line-height: inherit;
  text-align: inherit;
}

.zero {
  margin: 0;
  padding: 0;
  border: none;
}

.noto, .icon, .emoji {
  font-family: 'Noto Emoji', sans-serif;
}

